.hero-container{
    background-color: white;
    height: 80vh;
    display: flex; 
    flex-direction: column;
    gap: 25vh;
    padding: 0px 100px;
}
.hero-wrapper{
    display: flex;
    align-items: center;
    /* gap: 100px; */
    height: 100vh;
    /* overflow: hidden; */
    padding-bottom: 50px;
}

.pic{
    width: 400px;
    height: 400px;
    position: relative;
    flex: 1;
    
}
.heading{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
}
.pic-content{
    width: 80%;
    height: 80%;
}

.userfeedback{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.input{
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}
.button{
    color: white;
    background-color: lightblue;
    cursor: pointer;
    text-align: center;
    padding: 10px 30px 10px 30px;
    
    border: none;
    border-radius: 5px;
}